{% extends '@AdminBundle/layout/base.html.twig' %}

{% block page_title %}登录{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admlte/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admlte/googlefonts/fonts.css') }}">
{% endblock %}

{% block head_custom_stylesheets %}
<style>
    html,body{
        background-image: url("/assets/images/loginbg.jpg") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 100% !important;
    }
    .login-logo a, .register-logo a{
        color: #fff!important;
    }
</style>
{% endblock %}

{% block head_favicon %}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/fav.png') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/sweetalert2/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('assets/admlte/js/adminlte.min.js') }}"></script>
    {% if error %}
        <script type="text/javascript">
            $(function() {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'center',
                    showConfirmButton: false,
                    timer: 3000
                });

                Toast.fire({
                    type: 'error',
                    title: '{{ error.messageKey|trans(error.messageData, 'security') }}'
                })
            });
        </script>
    {% endif %}
{% endblock %}

{% block body_class %} hold-transition login-page {% endblock %}

{% block body_main %}
    <div class="login-box">
        <div class="login-logo">
            <a href="./"><b>学多多</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">登录即可进入后台管理系统</p>

                <form action="{{ path("admin_login") }}" method="post">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="input-group mb-3">
                        <input type="text" name="mobile" class="form-control" placeholder="手机号码" value="{{ last_username }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-6 input-group mb-3">
                        <input type="text" name="recaptcha" class="form-control" placeholder="验证码">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="{{ path('app_glob_recaptcha', {'type':'adminLogin'} ) }}" style="height: 48px;">
                    </div>
                </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="密码">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" name="_remember_me" checked>
                                <label for="remember">
                                    记住我
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">登入</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}
{% block body_custom_javascript %}
<script>
    $(function(){

    });
</script>
{% endblock %}
