{% extends "@CoreBundle/layout/pop.html.twig" %}

{% block page_title %}查看单个商品信息{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("admin_mall_goods_index") }}">商品管理</a></li>
{% endblock %}

{% block head_javascript %}
  {{ parent() }}
  <script src="{{ asset('assets/plugins/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/tinymce/langs/zh_CN.js') }}"></script>
{% endblock %}

{% block page %}
<div class="card">
     <div class="card-body"> 
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
  </div>
    </div>
{% endblock %}
