<div class="card card-default">
    <div class="card-header">
        <div class="card-title">
            {% if searchField %}
            <div class="input-group input-group-sm">
                <button type="button" class="btn btn-sm btn-primary search-btn-filter"><i class="fas fa-filter"></i> 筛选</button>
            </div>
            {% endif %}
        </div>
        <div class="card-tools">
            {% if gridBar %}

            <div class="input-group input-group-sm">
                {% for gk, gv in gridBar %}
                <a href="{{ gv[0] }}" class="btn btn-sm {{ gv[2] }}" title="{{ gk }}" style="margin-right: 10px;">
                    <i class="{{ gv[1] }}"></i><span class="hidden-xs">&nbsp;&nbsp;{{ gk }}</span>
                </a>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
    <div class="card-body table-responsive">
       {{ include("@Grid/search.html.twig", {'searchField':searchField}) }}
        <table class="table table-hover text-nowrap ">
            <thead>
            <tr>
                {% for k, v in column %}
                    <th>
                        {% if v['sort'] %}
                         {{  knp_pagination_sortable(pagination, k, v['sort']) }}
                        {% else %}
                            {{  k }}
                        {% endif %}</th>
                {% endfor %}
                {% if tableActionCallback %} <th>操作</th> {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for v in list %}
            <tr>
                {% for cv in column %}
                    <td>
                        {% if cv['type'] == 'text' or cv['type'] == 'datetime' or cv['type'] == 'textarea' %}
                            {{ get_prop(v, cv["field"], cv['type'], cv['options'])|raw }}
                        {% endif %}
                        {% if cv['type'] == 'json' %}
                            {{ get_prop(v, cv["field"], cv['type'], cv['options'])|json_encode }}
                        {% endif %}
                        {% if cv['type'] == 'code' %}
                       <div  class='overflow-auto' style='width:300px'><code class="clipboard" data-clipboard-text="{{ get_prop(v, cv["field"], cv['type'], cv['options']) }}" >{{ get_prop(v, cv["field"], cv['type'], cv['options'])|raw }}</code></div>
                        {% endif %}
                        {% if cv['type'] == 'image'  %}
                            <img src="{{  get_prop(v, cv["field"], cv['type'], cv['options'])|raw }}" class="imgpreview" width="30px" />
                        {% endif %}
                        {% if cv['type'] == 'boole' %}
                            {% if get_prop(v, cv['field'], cv['type']) %}
                                <span class="badge bg-success">√</span>
                            {% else %}
                                <span class="badge bg-danger">×</span>
                            {% endif %}
                        {% endif %}
                        {% if cv['type'] == 'boole2' %}
                            {% if cv['actionCall'] is defined %}
                                {{ get_prop(cv['actionCall'],v)|raw }}
                            {% else %}
                                {% if get_prop(v, cv['field'], cv['type']) %}
                                    <span class="badge bg-success">√</span>
                                {% else %}
                                    <span class="badge bg-danger">×</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if tableActionCallback %}
                    <td>
                        {% for tb in  tableActionCallback %}
                            {{ get_prop(tb, v)|raw }}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ column|length }}">暂无数据</td><td></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<script>
$(function(){

});
</script>
