<div class="card card-default">
    <div class="card-header">
        <div class="card-title">
            {% if searchField %}
            <div class="input-group input-group-sm">
                <button type="button" class="btn btn-sm btn-primary search-btn-filter"><i class="fas fa-filter"></i> 筛选</button>
            </div>
            {% endif %}
        </div>
        <div class="card-tools">
            {% if gridBar %}
                {% for gk, gv in gridBar %}
            <div class="input-group input-group-sm">
                <a href="{{ gv[0] }}" class="btn btn-sm {{ gv[2] }}" title="{{ gk }}">
                    <i class="{{ gv[1] }}"></i><span class="hidden-xs">&nbsp;&nbsp;{{ gk }}</span>
                </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="card-body table-responsive">
        {% if searchField %}
        <form role="form" name="listSearchForm" id="listSearchForm" class="grid-search {% if app.request.query.get('showSearch') != 1 %} display-hide {% endif %}" action="{{ pathinfo }}" method="get">
            <div class="row">
                {% for k,v in searchField %}
                <div class="col-sm-6">
                    <div class="form-group row ">
                        <label class="col-sm-2 col-form-label">{{ k }} ：</label>
                        {% if v['type'] == "text" %}
                            <div class="col-sm-2">
                                <select name="{{ v['operates'] }}" class="form-control form-control-sm">
                                    <option value="=" {% if array_get(app.request.query.get("operates"), v['field']) == '=' %} selected {% endif %}>=</option>
                                    <option value="like" {% if array_get(app.request.query.get("operates"), v['field']) == 'like' %} selected {% endif %}>包含</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" name="{{ v['types'] }}" value="{{ v['type'] }}">
                                <input type="text" name="{{ v['values'] }}" value="{{ array_get(app.request.query.get("values"), v['field']) }}" class="form-control form-control-sm " placeholder="输入 ...">
                            </div>
                        {% endif %}

                        {% if v['type'] == "number" %}
                            <div class="col-sm-2">
                                <select name="{{ v['operates'] }}" class="form-control form-control-sm">
                                    <option value="=" {% if array_get(app.request.query.get("operates"), v['field']) == '=' %} selected {% endif %}>=</option>
                                    <option value=">" {% if array_get(app.request.query.get("operates"), v['field']) == '>' %} selected {% endif %}> > </option>
                                    <option value="<" {% if array_get(app.request.query.get("operates"), v['field']) == '<' %} selected {% endif %}> < </option>
                                    <option value=">=" {% if array_get(app.request.query.get("operates"), v['field']) == '>=' %} selected {% endif %}> >= </option>
                                    <option value="<=" {% if array_get(app.request.query.get("operates"), v['field']) == '<=' %} selected {% endif %}> <= </option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden"  name="{{ v['types'] }}" value="{{ v['type'] }}">
                                <input type="text" name="{{ v['values'] }}" value="{{ array_get(app.request.query.get("values"), v['field']) }}" class="form-control form-control-sm " placeholder="输入 ...">
                            </div>
                        {% endif %}

                        {% if v['type'] == 'daterange' %}
                            <div class="col-sm-10">
                                <input type="hidden" name="{{ v['operates'] }}" value="BETWEEN">
                                <input type="hidden" name="{{ v['types'] }}" value="{{ v['type'] }}">
                                <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                  </span>
                                </div>
                                <input type="text" name="{{ v['values'] }}" value="{{ array_get(app.request.query.get("values"), v['field']) }}" class="form-control form-control-sm daterange" placeholder="输入 ...">
                                </div>
                            </div>
                        {% endif %}

                        {% if v['type'] == 'datetimerange' %}
                            <div class="col-sm-10">
                                <input type="hidden" name="{{ v['operates'] }}" value="BETWEEN">
                                <input type="hidden" name="{{ v['types'] }}" value="{{ v['type'] }}">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                                    </div>
                                    <input type="text" name="{{ v['values'] }}" value="{{ array_get(app.request.query.get("values"), v['field']) }}" class="form-control form-control-sm datetimerange" placeholder="输入 ...">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <input type="hidden" name="showSearch" value="1">
                        <button type="submit" class="btn btn-info submit btn-sm" style="margin-right: 10px;"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</button>
                        <button type="reset" class="btn btn-default btn-sm reset"><i class="fa fa-undo"></i>&nbsp;&nbsp;重置</button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
        <table class="table table-hover text-nowrap ">
            <thead>
            <tr>
                {% for k, v in column %}
                    <th>
                        {% if v['sort'] %}
                         {{  knp_pagination_sortable(pagination, k, v['sort']) }}
                        {% else %}
                            {{  k }}
                        {% endif %}</th>
                {% endfor %}
                {% if tableActionCallback %} <th>操作</th> {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for v in list %}
            <tr>
                {% for cv in column %}
                    <td>
                        {% if cv['type'] == 'text' or cv['type'] == 'datetime' or cv['type'] == 'textarea' %}
                        {{ get_prop(v, cv["field"], cv['type'], cv['options'])|raw }}
                        {% endif %}
                        {% if cv['type'] == 'image'  %}
                            <img src="{{  get_prop(v, cv["field"], cv['type'], cv['options'])|raw }}" width="30px" />
                        {% endif %}
                        {% if cv['type'] == 'boole' %}
                            {% if get_prop(v, cv['field'], cv['type']) %}
                                <span class="badge bg-success">√</span>
                            {% else %}
                                <span class="badge bg-danger">×</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if tableActionCallback %}
                <td>
                    {% for tb in  tableActionCallback %}
                        {{ get_prop(tb, v)|raw }}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
