{% if formField %}
    {% if disableSubmit != 1 %}
        <div class="card card-default">
        <form method="POST" action="{{ url }}" class="form-horizontal ajaxform" accept-charset="UTF-8" >
            <div class="card-body" style="display: block;">
    {% endif %}
            {% for k,v in formField %}
                <div class="form-group  row">
                    {% if v['type'] != 'hidden' %}
                    <label for="title" class="col-sm-2  {% if v['options']['data-required'] is defined and v['options']['data-required'] %} require {% endif %} col-form-label">{{ k }} :</label>
                    {% endif %}

                    {% if v['type'] == 'text' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-edit"></i></span>
                                </div>
                                <input type="text"

                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                        {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}

                                       value="{{ v['defaultValue'] }}"
                                       class="form-control form-control-sm"
                                >
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'string' %}
                        <div class="col-sm-8">{{ v['defaultValue'] }}</div>
                    {% endif %}

                    {% if v['type'] == 'daterange' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                  </span>
                                </div>
                                <input type="text"
                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                            {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}
                                value="{{ v['defaultValue'] }}"
                                class="form-control form-control-sm daterange"
                                placeholder="输入 ..."
                                >
                            </div>
                        </div>
                    {% endif %}

                     {% if v['type'] == 'datetime' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text"

                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                        {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}

                                value="{{ v['defaultValue'] }}"
                                class="form-control form-control-sm datetime"
                                placeholder="输入 ...">
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'date' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text"
                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                        {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}

                                value="{{ v['defaultValue'] }}"
                                class="form-control form-control-sm date"
                                placeholder="输入 ...">
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'datetimerange' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text"

                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                            {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}

                                 value="{{ v['defaultValue'] }}"
                                class="form-control form-control-sm datetimerange"
                                placeholder="输入 ...">
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'file' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="hidden" name="{{ v['field'] }}"  value="{{ v['defaultValue'] }}"  {% if v['options']['data-required'] is defined and v['options']['data-required'] %} data-required="1" {% endif %} >
                                <input type="file" data-field="{{ v['field'] }}"
                                       {% if v['options'] %}
                                            {% for ok,ov in v['options'] %}
                                                {% if ok != "name" and ok != "id" and ok != "data-required" %}
                                                    {{ ok }}="{{ ov }}"
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        multiple
                                       class="form-control form-control-sm ufile"
                                />
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'password' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password"

                                        {% if v['options'] %}
                                            {% for ok,ov in v['options'] %}
                                                {{ ok }}="{{ ov }}"
                                            {% endfor %}
                                        {% endif %}

                                       class="form-control form-control-sm"
                                />
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'textarea' %}
                        <div class="col-sm-8">
                            <div class="input-group">
                                <textarea
                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                        {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}
                                class="form-control form-control-sm"

                                >{{ v['defaultValue'] }}</textarea>
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'boole' %}
                    <div class="col-sm-8">
                        <div class="input-group">
                        <input type="checkbox"

                            {% if v['options'] %}
                                {% for ok,ov in v['options'] %}
                                    {{ ok }}="{{ ov }}"
                                {% endfor %}
                            {% endif %}

                            {% if v['defaultValue'] %} checked {% endif %}

                               data-bootstrap-switch data-off-color="danger" data-on-color="success"
                        >
                        </div>
                    </div>
                  {% endif %}

                    {% if v['type'] == 'select' %}
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="hidden" name="formHidden-{{ v['field'] }}" value="{{ v['defaultValue'] }}"  />
                            <select
                                    {% if v['options'] %}
                                        {% for ok,ov in v['options'] %}
                                            {{ ok }}="{{ ov }}"
                                        {% endfor %}
                                    {% endif %}

                                    class="form-control form-control-sm select"
                                    style="width: 100%;"

                                     >
                                {% set selectV = get_prop(v['initData'],"") %}
                                {% if selectV %}
                                    {% for k,v in selectV %}
                                        <option value="{{ v }}">{{ k|raw }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    {% endif %}

                    {% if v['type'] == 'multiSelect' %}
                        <div class="col-sm-8">
                            <div class="input-group" >
                                <input type="hidden" name="formHidden-{{ v['field'] }}" value="{{ v['defaultValue']|json_encode }}"  />
                                <select

                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                        {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}

                                        class="form-control form-control-sm select"
                                        multiple="multiple"
                                        style="width: 100%;"
                                >
                                    {% set selectV = get_prop(v['initData'],"") %}
                                    {% if selectV %}
                                        {% for k,v in selectV %}
                                            <option value="{{ v }}">{{ k|raw }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == "search_select" %}
                          <div class="col-sm-8">
                                <div class="input-group" >
                                   <input type="hidden" name="formHidden-{{ v['field'] }}" value="{{ v['defaultValue']|json_encode }}"  />
                                    {% set selectV = get_prop(v['initData'],"") %}
                                    <select

                                    {% if v['options'] %}
                                        {% for ok,ov in v['options'] %}
                                            {{ ok }}="{{ ov }}"
                                        {% endfor %}
                                    {% endif %}

                                    class="form-control form-control-sm search_select"
                                    data-url="{{ selectV[0] }}"
                                    style="width: 100%;"

                                    >
                                    {% if selectV[1] %}
                                        {% for k,v in selectV[1] %}
                                            <option value="{{ v }}">{{ k|raw }}</option>
                                        {% endfor %}
                                    {% endif %}
                                    </select>
                                </div>
                          </div>
                    {% endif %}

                    {% if v['type'] == "search_multiple_select" %}
                        <div class="col-sm-8">
                            <div class="input-group" >
                                <input type="hidden" name="formHidden-{{ v['field'] }}" value="{{ v['defaultValue']|json_encode }}"  />
                                {% set selectV = get_prop(v['initData'],"") %}
                                <select

                                {% if v['options'] %}
                                    {% for ok,ov in v['options'] %}
                                        {{ ok }}="{{ ov }}"
                                    {% endfor %}
                                {% endif %}

                                class="form-control form-control-sm search_select"
                                multiple="multiple"
                                data-url="{{ selectV[0] }}"
                                style="width: 100%;"

                                >
                                {% if selectV[1] %}
                                    {% for k,v in selectV[1] %}
                                        <option value="{{ v }}">{{ k|raw }}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {% if v['type'] == 'hidden' %}
                        <input type="hidden"

                        {% if v['options'] %}
                        {% for ok,ov in v['options'] %}
                            {{ ok }}="{{ ov }}"
                        {% endfor %}
                        {% endif %}

                        value="{{ v['defaultValue'] }}"  />
                    {% endif %}

                    {% if v['type'] == 'rich_editor' %}
                        <div class="col-sm-8">
                            <div class="input-group" >
                <textarea  class="form-control form-control-sm rich_text"
                {% if v['options'] %}
                    {% for ok,ov in v['options'] %}
                        {{ ok }}="{{ ov }}"
                    {% endfor %}
                {% endif %}
                />{{ v['defaultValue']}}</textarea>
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        {% if disableSubmit != 1 %}
            </div>
                <div class="card-footer">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm btn-info " style="margin-right: 10px;">提交</button>
                            <button type="reset" class="btn btn-default btn-sm reset"><i class="fa fa-undo"></i>&nbsp;&nbsp;重置</button>
                        </div>
                    </div>
                </div>
        </form>
            </div>
    {% endif %}
{% endif %}
