{% extends "@AdminBundle/layout/ajaxPage.html.twig" %}

{% block head_custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css') }}">
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
{% endblock %}
{% block body_custom_javascript %}
    <script>
        $(function(){

            $('.select2').select2({ theme: 'bootstrap4', "allowClear":true,"placeholder":{"id":"","text":"\u7236\u7ea7\u83dc\u5355"}});

            $('.icon').iconpicker({placement:'bottomLeft'});

            $("input[data-bootstrap-switch]").each(function(){
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });

        });

    </script>
{% endblock %}

{% block page %}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <!-- /.box-header -->
                    <div class="card-body" style="display: block;">
                        <form method="POST" action="{{ path('admin_api_menu_add') }}" class="form-horizontal ajaxform" accept-charset="UTF-8" >
                            <div class="form-group row">
                                <label class="col-sm-2 require col-form-label">父级菜单</label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="parent_id"/>
                                    <select class="form-control select2" style="width: 100%;" name="parent_id" data-value="" >
                                        <option value="0">ROOT</option>
                                        {% if menuSelect %}
                                            {% for menus in menuSelect %}
                                                <option value="{{ menus.id }}">{{ menus.name|raw }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group  row">
                                <label for="title" class="col-sm-2  require col-form-label">标题</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-edit fa-fw"></i></span>
                                        </div>
                                        <input type="text" id="title" name="title" data-required="1" value="" class="form-control title" placeholder="输入标题" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label for="sort" class="col-sm-2  require col-form-label">排序</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-sort-amount-up fa-fw"></i></span>
                                        </div>
                                        <input type="text" id="sort" name="sort" data-required="1" value="0" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="icon" class="col-sm-2 control-label">图标</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-adjust fa-fw"></i></span>
                                        </div>
                                        <input style="width: 140px" type="text" id="icon" name="icon" value=""
                                               class="form-control icon"
                                               placeholder="输入图标"
                                        >
                                    </div>
                                    <span class="help-block">
                                        <i class="fas fa-info-circle"></i>
                                        &nbsp;更多图标请查看 <a href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 require col-form-label">路径</label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="uri"/>
                                    <select class="form-control select2" style="width: 100%;" name="uri" data-value="" >
                                        {% if adminRoute %}
                                            {% for r in adminRoute %}
                                                <option value="{{ r }}">{{ r }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">是否显示</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" name="isShow" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">是否锁定</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" name="isLock" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">仅权限</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" name="isAccess" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">描述</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="descr" rows="3" placeholder="输入 ..."></textarea>
                                </div>
                            </div>

                            <!-- /.box-body -->
                            <div class="card-footer">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-info">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
