{% extends "@AdminBundle/layout/main.html.twig" %}

{% block page_title %}菜单管理{% endblock %}

{% block head_custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-nestable2/jquery.nestable.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-nestable2/jquery.nestable.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
{% endblock %}
{% block body_custom_javascript %}
    <script>
        $(function(){

            $(".mypoppage").popPage({
                width:"600px",
                height:"500px"
            })

            $('.select2').select2({ theme: 'bootstrap4', "allowClear":true,"placeholder":{"id":"","text":"\u7236\u7ea7\u83dc\u5355"}});

            $('.icon').iconpicker({placement:'bottomLeft'});

            $('#menu-tree').nestable({maxDepth:3, scroll:true});

            $('.menu-tree-tools').on('click', function(e){
                var action = $(this).data('action');
                if (action === 'expand') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse') {
                    $('.dd').nestable('collapseAll');
                }
            });

            $("#menuSortSave").click(function(){
                var serialize = $('#menu-tree').nestable('serialize');
                requestPost('{{ path('admin_api_menu_updateSort') }}', JSON.stringify(serialize));
            });
        });

    </script>
{% endblock %}

{% block page %}
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm menu-tree-tools" data-action="expand" title="展开">
                            <i class="fas fa-plus-square-o"></i>&nbsp;展开
                        </button>
                        <button class="btn btn-primary btn-sm menu-tree-tools" data-action="collapse"
                           title="收起">
                            <i class="fas fa-minus-square-o"></i>&nbsp;收起
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm" id="menuSortSave" title="保存">
                            <i class="fas fa-save"></i><span class="hidden-xs">&nbsp;保存</span>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="card-body table-responsive no-padding">
                    <div class="dd" id="menu-tree">
                        <ol class="dd-list">
                            {% for menu in allMenu[0] %}
                            <li class="dd-item" data-id="{{ menu.id }}">
                                <div class="dd-handle">
<i class="{{ menu.style|default('far fa-circle') }}"></i>&nbsp;<strong>{{ menu.name }}</strong>&nbsp;&nbsp;&nbsp;
                                    {% if menu.url!="" and menu.isAccess==0 %}<a href="{{ path(menu.url) }}" class="dd-nodrag">{{ path(menu.url) }}</a>{% endif %}
                                    <span class="font-weight-lighter"> {{ menu.descr }}</span>
             {% if menu.isLock %}
                 <span class="right badge badge-secondary dd-nodrag tip" title="已锁定，不能修改">
                  <i class="fas fa-lock"></i>
                </span>
             {% endif %}
             {% if menu.isAccess %}
            <span class="right badge badge-success dd-nodrag tip" title="对象为权限,导航上不会显示">
                <i class="fas fa-key"></i>
            </span>
             {% endif %}
{% if menu.isLock == 0 %}
<span class="pull-right dd-nodrag">
<a href="{{ path("admin_menu_edit", {"id":menu.id}) }}" data-title="编辑"  class="mypoppage"><i class="fas fa-edit"></i></a>
<a href="{{ path("admin_api_menu_delete", {"id":menu.id}) }}"  data-confirm="确认要删除吗?" class="tree_branch_delete ajaxDelete"><i class="fas fa-trash"></i></>
</span>
{% endif %}
                                </div>
                                {% if allMenu[menu.id] is defined %}
                                <ol class="dd-list">
                                    {% for menu2 in allMenu[menu.id] %}
                                    <li class="dd-item" data-id="{{ menu2.id }}">
                                        <div class="dd-handle">
        <i class="{{ menu2.style|default('far fa-circle') }}"></i>&nbsp;<strong>{{ menu2.name }}</strong>&nbsp;&nbsp;&nbsp;
                                            {% if menu2.url!="" and menu2.isAccess==0 %}<a href="{{ path(menu2.url) }}" class="dd-nodrag">{{ path(menu2.url) }}</a>{% endif %}
                                            <span class="font-weight-lighter"> {{ menu2.descr }}</span>
{% if menu2.isLock %}
    <span class="right badge badge-secondary dd-nodrag tip" title="已锁定，不能修改">
<i class="fas fa-lock"></i>
</span>
{% endif %}
{% if menu2.isAccess %}
    <span class="right badge badge-success dd-nodrag tip" title="对象为权限,导航上不会显示">
<i class="fas fa-key"></i>
</span>
{% endif %}
{% if menu2.isLock == 0 %}
    <span class="pull-right dd-nodrag">
<a href="{{ path("admin_menu_edit", {"id":menu2.id}) }}" data-title="编辑" class="mypoppage"><i class="fas fa-edit"></i></a>
<a href="{{ path("admin_api_menu_delete", {"id":menu2.id}) }}" data-confirm="确认要删除吗?" class="tree_branch_delete ajaxDelete"><i class="fas fa-trash"></i></a>
</span>
{% endif %}
                                        </div>
                                        {#第三级#}
                                        {% if allMenu[menu2.id] is defined %}
                                            <ol class="dd-list">
                                                {% for menu3 in allMenu[menu2.id] %}
                                                    <li class="dd-item" data-id="{{ menu3.id }}">
                                                        <div class="dd-handle">
                                                            <i class="{{ menu3.style|default('far fa-circle') }}"></i>&nbsp;<strong>{{ menu3.name }}</strong>&nbsp;&nbsp;&nbsp;
                                                            {% if menu3.url!="" and menu3.isAccess==0 %}<a href="{{ path(menu3.url) }}" class="dd-nodrag">{{ path(menu3.url) }}</a>{% endif %}
                                                            <span class="font-weight-lighter"> {{ menu3.descr }}</span>
{% if menu3.isLock %}
    <span class="right badge badge-secondary dd-nodrag tip" title="已锁定，不能修改">
<i class="fas fa-lock"></i>
</span>
{% endif %}
{% if menu3.isAccess %}
    <span class="right badge badge-success dd-nodrag tip" title="对象为权限,导航上不会显示">
<i class="fas fa-key"></i>
</span>
{% endif %}
{% if menu3.isLock == 0 %}
    <span class="pull-right dd-nodrag">
<a href="{{ path("admin_menu_edit", {"id":menu3.id}) }}" data-title="编辑"  class="mypoppage"><i class="fas fa-edit"></i></a>
<a href="{{ path("admin_api_menu_delete", {"id":menu3.id}) }}"  data-confirm="确认要删除吗?" class="tree_branch_delete ajaxDelete"><i class="fas fa-trash"></i></a>
</span>
{% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}

                                    </li>
                                    {% endfor %}
                                </ol>
                                {% endif %}
                            </li>
                            {% endfor %}

                        </ol>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header with-border">
                    <h4 class="card-title">新增</h4>
                </div>
                <form method="POST" action="{{ path('admin_api_menu_add') }}" class="form-horizontal ajaxform" accept-charset="UTF-8" >
                    <div class="card-body" style="display: block;">
                            <div class="form-group row">
                                <label class="col-sm-2 require col-form-label">父级菜单</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm select2" style="width: 100%;" name="parent_id" data-value="" >
                                        <option value="0">ROOT</option>
                                        {% if menuSelect %}
                                            {% for menus in menuSelect %}
                                        <option value="{{ menus.id }}">{{ menus.name|raw }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group  row">
                                <label for="title" class="col-sm-2  require col-form-label">标题</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-edit fa-fw"></i></span>
                                        </div>
                                        <input type="text" id="title" name="title" data-required="1" value="" class="form-control form-control-sm title" placeholder="输入标题" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label for="sort" class="col-sm-2  require col-form-label">排序</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-sort-amount-up fa-fw"></i></span>
                                        </div>
                                        <input type="text" id="sort" name="sort" data-required="1" value="0" class="form-control form-control-sm" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="icon" class="col-sm-2 control-label">图标</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-adjust fa-fw"></i></span>
                                        </div>
                                        <input style="width: 140px" type="text" id="icon" name="icon" value=""
                                               class="form-control form-control-sm icon"
                                               placeholder="输入图标"
                                        >
                                    </div>
                                    <span class="help-block">
                                        <i class="fas fa-info-circle"></i>
                                        &nbsp;更多图标请查看 <a href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 require col-form-label">路径</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm select2" style="width: 100%;" name="uri" data-value="" >
                                        {% if adminRoute %}
                                            {% for r in adminRoute %}
                                        <option value="{{ r }}">{{ r }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">是否显示</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="isShow" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">是否锁定</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="isLock" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">仅权限</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="isAccess" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">描述</label>
                            <div class="col-sm-8">
                                <textarea class="form-control form-control-sm" name="descr" rows="3" placeholder="输入 ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-sm btn-info">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>

{% endblock %}

