{% extends '@WebsiteBundle/layout/layout.html.twig' %}
{% import "@WebsiteBundle/macros/pagination.html.twig" as macros %}
{% block page %}
     {{ parent() }}
  <div id="main"  class="myMain">
      <div class="layui-main">
        <div class="layui-row layui-col-space20">
          <div class="layui-col-md2">
            {{ render(path('app_user_userNav', {route:route})) }}
          </div>
          <div class="layui-col-md10">
            <div class="mainBox">
              <div class="content">
              <div class="layui-row layui-col-space20">
                {% if list %}
                  {% for l in list %}
                    <div class="layui-col-md3">
                      <a href="{{ path('app_detail_index', {uuid:l['goodsInfo']['uuid']}) }}" class="gooda">
                        <div class="goodCard layui-anim">
                          <div class="goodCover">
                            <img src="{% if l['goodsInfo']['goodsSmallImg'] %} {{ json_get(l['goodsInfo']['goodsSmallImg']) }} {% else %} /assets/images/course.jpg {% endif %}">
                          </div>
                          <div class="goodInfo">
                            <div class="goodTitle">{{ l['goodsInfo']['name'] }}</div>
                            <div class="goodAttr">
                              <span class="goodPrice">¥{{ l['goodsInfo']['shopPriceView'] }}</span>
                              <span class="buyNum">{{ l['goodsInfo']['buyNumberFalse'] }}人购买</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="layui-center">
                    <div><img src="/assets/app/default/images/null-i2.png" /></div>
                    <div>没有数据～</div>
                  </div>
                {% endif %}
                <div>
                  {{ macros.pagination(pagination) }}
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
 {% endblock %}
