{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}首页{% endblock %}

{% block page %}
<section class="content">
    <!-- Small boxes (Stat box) -->
  <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>¥{{ todayIncome }}</h3>

            <p>今日收入</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          {% if is_authorized('admin_mall_pay_index') %}
          <a href="{{ path('admin_mall_pay_index') }}" class="small-box-footer">更多<i class="fas fa-arrow-circle-right"></i></a>
          {% endif %}
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ todayRegUserCount }}</h3>

            <p>今日注册用户</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          {% if is_authorized('admin_user_index') %}
          <a href="{{ path('admin_user_index') }}" class="small-box-footer">更多<i class="fas fa-arrow-circle-right"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ todayOrderCount }}</h3>
            <p>今日订单数</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          {% if is_authorized('admin_mall_order_index') %}
            <a href="{{ path('admin_mall_order_index') }}" class="small-box-footer">更多<i class="fas fa-arrow-circle-right"></i></a>
          {% endif %}
        </div>
      </div>
      <!-- ./col -->
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ totalRegUserCount }}</h3>

            <p>总用户数</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          {% if is_authorized('admin_user_index') %}
          <a href="{{ path('admin_user_index') }}" class="small-box-footer">更多<i class="fas fa-arrow-circle-right"></i></a>
          {% endif %}
        </div>
      </div>
      <!-- ./col -->
    </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">最近订单</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>订单号</th>
                <th>商品名称</th>
                <th>金额</th>
                <th>订单状态</th>
                <th>下单时间</th>
              </tr>
              </thead>
              {% if lastOrder %}
              <tbody>
              {% for k, v in lastOrder %}
                <tr>
                  <td>{{ v['orderNo'] }}</td>
                  <td>{{ v['goodName'] }}</td>
                  <td>{{ v['orderAmount'] }}</td>
                  <td>
                    {% if v['orderStatus'] == 2 %}
                    <span class="badge badge-success">{{ v['orderStatusView'] }}</span>
                    {% else %}
                      <span class="badge badge-info">{{ v['orderStatusView'] }}</span>
                    {% endif %}
                  </td>
                  <td>
                    {{ v['createdAt'] }}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
              {% endif %}
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          {% if is_authorized('admin_mall_order_index') %}
          <a href="{{ path('admin_mall_order_index') }}" class="btn btn-sm btn-secondary float-right">查看所有订单</a>
          {% endif %}
        </div>
        <!-- /.card-footer -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
