{% extends "@CoreBundle/layout/layout.html.twig" %}

{% block style %}
    {{ parent() }}
{% endblock %}
{#sidebar-collapse#}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/eduxpluscore/js/index-mini-v4.min.js') }}"></script>
    <script type="text/javascript">
jQuery( function() {
    $('.globalModal').modal('show')

    $(document).on('click', '[data-nav-target]', function () {
        var $this = $(this),
            target = $this.data('nav-target');
        
        if ($('body').hasClass('lyear-layout-sidebar-close')) {
            $('body').removeClass('lyear-layout-sidebar-close');
        } 
        
        $('.lyear-layout-sub-column > ul').hide();
        $('.lyear-layout-sub-column ' + target).fadeIn(500);
        $this.parent().siblings().removeClass('active');
        $this.parent().addClass('active');
        $this.parent().tooltip('hide');
        return false;
    });
});
</script>
{% endblock %}
{% block body_main %}
    {{ parent() }}
 <div class="lyear-layout-web">
  <div class="lyear-layout-container">

  <aside class="lyear-layout-sidebar">
      <div class="lyear-layout-mini-sidebar">
        <!--菜单小图标-->
        <div class="lyear-layout-sidebar-info lyear-scroll">
          <nav class="sidebar-main">
            <ul class="nav-drawer">
{% if menus %}
  {% set menuroot = menus[0] %}
    {% for menu in menuroot %}
          {% if menu.isShow and menu.isAccess == 0%}
              <li class="nav-item {% if route==menu.url or pmenuId==menu.id %} active {% endif %}" data-toggle="tooltip" data-placement="right" title="{{ menu.name }}">
                <a href="javascript:;" data-nav-target="#menu_{{ menu.id }}">
                  <i class="mdi {{ menu.style|default('mdi-format-align-justify') }}"></i>
                </a>
              </li>
          {% endif %}
    {% endfor %}
{% endif %}          
            </ul>
          </nav>
        </div>
        <!--菜单子栏目-->
        <div class="lyear-scroll lyear-layout-sub-column">
{% if menus %}
  {% set menuroot = menus[0] %}
    {% for k,menu in menuroot %}
          {% if menu.isShow and menu.isAccess == 0%}  
                  {% if menus[menu.id] is defined %}        
          <ul class="nav nav-subnav" id="menu_{{ menu.id }}" {% if k==0 %} style="display: block" {% endif %}>
              {% for menu2 in menus[menu.id] %}
                {% if menu2.isShow and menu2.isAccess == 0 %}
          <li   class="{% if menus[menu2.id] is defined %}nav-item nav-item-has-subnav {% endif %} ">
<a {% if menu2.url %} class="multitabs" {% endif %} href="{% if menu2.url %}{{ path(menu2.url) }}{% else %} javascript:; {% endif %}">{{ menu2.name }}</a>
      {% if menus[menu2.id] is defined %}
        <ul class="nav nav-subnav">
          {% for menu3 in menus[menu2.id] %}
                {% if menu3.isShow and menu3.isAccess == 0 %}
          <li class="{% if menus[menu3.id] is defined %}nav-item nav-item-has-subnav {% endif %} ">
<a {% if menu3.url %} class="multitabs" {% endif %}  href="{% if menu3.url %}{{ path(menu3.url) }}{% else %} javascript:; {% endif %}">{{ menu3.name }}</a>

              {% if menus[menu3.id] is defined %}
                  <ul class="nav nav-subnav">
                      {% for menu4 in menus[menu3.id] %}
                          {% if menu4.isShow and menu4.isAccess == 0 %}
                              <li class="{% if menus[menu4.id] is defined %}nav-item nav-item-has-subnav {% endif %}">
                                  <a {% if menu4.url %} class="multitabs" {% endif %}  href="{% if menu4.url %}{{ path(menu4.url) }}{% else %} javascript:; {% endif %}">{{ menu4.name }}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
              {% endif %}

          </li>
              {% endif %}
          {% endfor %}
        </ul>
    {% endif %}

          </li>
              {% endif %}
          {% endfor %}
          </ul>
                    {% endif %}
          {% endif %}
    {% endfor %}
{% endif %} 
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar">
          
        <div class="navbar-left d-flex align-items-center">
          <!-- logo -->
          <div id="logo" class="sidebar-header">
            <a href="/admin"><img src="/bundles/eduxpluscore/images/logo.png" title="LightYear" alt="LightYear" /></a>
          </div>
          <div class="lyear-aside-toggler">
            <span class="lyear-toggler-bar"></span>
            <span class="lyear-toggler-bar"></span>
            <span class="lyear-toggler-bar"></span>
          </div>
        </div>
          
        <ul class="navbar-right d-flex align-items-center">
          <!--切换主题配色-->
		  <li class="dropdown dropdown-skin">
		    <span data-toggle="dropdown" class="icon-item"><i class="mdi mdi-palette"></i></span>
			<ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
{#			  <li class="drop-title"><p>LOGO</p></li>#}
{#			  <li class="drop-skin-li clearfix">#}
{#                <span class="inverse">#}
{#                  <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>#}
{#                  <label for="logo_bg_1"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">#}
{#                  <label for="logo_bg_2"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">#}
{#                  <label for="logo_bg_3"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">#}
{#                  <label for="logo_bg_4"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">#}
{#                  <label for="logo_bg_5"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">#}
{#                  <label for="logo_bg_6"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">#}
{#                  <label for="logo_bg_7"></label>#}
{#                </span>#}
{#                <span>#}
{#                  <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">#}
{#                  <label for="logo_bg_8"></label>#}
{#                </span>#}
{#			  </li>#}
			  <li class="drop-title"><p>头部</p></li>
			  <li class="drop-skin-li clearfix">
                <span class="inverse">
                  <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                  <label for="header_bg_1"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                  <label for="header_bg_2"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                  <label for="header_bg_3"></label>
                </span>
                <span>
                  <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                  <label for="header_bg_4"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                  <label for="header_bg_5"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                  <label for="header_bg_6"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                  <label for="header_bg_7"></label>
                </span>
                <span>
                  <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                  <label for="header_bg_8"></label>
                </span>
				</li>
			  <li class="drop-title"><p>侧边栏</p></li>
			  <li class="drop-skin-li clearfix">
                <span class="inverse">
                  <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1">
                  <label for="sidebar_bg_1"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                  <label for="sidebar_bg_2"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                  <label for="sidebar_bg_3"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                  <label for="sidebar_bg_4"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                  <label for="sidebar_bg_5"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                  <label for="sidebar_bg_6"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                  <label for="sidebar_bg_7"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8" checked>
                  <label for="sidebar_bg_8"></label>
                </span>
			  </li>
		    </ul>
		  </li>
          <!--切换主题配色-->
          <li class="dropdown dropdown-profile">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
              <img class="img-avatar img-avatar-28 m-r-10" src="{{ asset(app.user.gravatar|default(option("app.user.default.gravatar", 1, 0))) }}" alt="{{ app.user.fullName }}" />
              <span>{{ app.user.fullName }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
{#              <li>#}
{#                <a class="multitabs dropdown-item" data-url="lyear_pages_profile.html" href="javascript:;"><i class="mdi mdi-account"></i> 个人信息</a>#}
{#              </li>#}
              <li>
                <a class="multitabs dropdown-item poppage"  data-title="修改密码" href="{{ path('admin_user_changePwd') }} "><i class="mdi mdi-lock-outline"></i> 修改密码</a>
              </li>
{#              <li>#}
{#                <a class="dropdown-item" href="javascript:;"><i class="mdi mdi-delete"></i> 清空缓存</a>#}
{#              </li>#}
              <li class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{{ path("admin_logout") }}"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
              </li>
            </ul>
          </li>
        </ul>
          
      </nav>  
    </header>

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div id="iframe-content"></div>
      
    </main>
    <!--End 页面主要内容-->
  </div>

{% if needChangepwd %}
<div class="modal fade globalModal" tabindex="-1" role="dialog" aria-labelledby="globalModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="globalModalTitle">为了您的账户安全，请修改密码</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(path("admin_user_changePwd")) }}
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
