{% macro vod(userId, fileName, region, videoInfo, palyAuth) %}
<div class="form-group  row"  id="upload">
    <label for="title" class="col-sm-2 col-form-label">上传视频 :</label>
    <div class="col-sm-5">
        <div >
            <input type="file" id="fileUpload" @change="fileChange($event)">
        </div>
        <div >
            <button @click="authUpload" :disabled="uploadDisabled">开始上传</button>
            <button @click="pauseUpload" :disabled="pauseDisabled">暂停</button>
            <button :disabled="resumeDisabled" @click="resumeUpload">恢复上传</button>
        </div>
        <div class="prism-player" id="playerDiv"></div>
    </div>
    <div class="col-sm-4">
        <div class="status">上传状态: <span>${ statusText }</span></div>
        <div>上传进度:${ authProgress }%</div>
    </div>
</div>
    <script>
uploadVideo("{{ region }}","upload", "{{ userId }}","{{ fileName }}",0,"{{ path('admin_api_glob_aliyunVodCreateUploadVideoDo') }}", "{{ path('admin_api_glob_aliyunVodRefreshUploadVideoDo') }}", "{{ path('admin_api_glob_getAliyunVodPlayInfoDo') }}");
{% if videoInfo and videoInfo["videoId"] != "" and videoInfo["status"] ==1 %}
    vodPlay("playerDiv", "{{ videoInfo['videoId'] }}", "{{ palyAuth }}","mp4", "400px", "400px");
{% endif %}
    </script>
{% endmacro %}
