{% extends '@WebsiteBundle/layout/layout.html.twig' %}
 {% block page %}
   {{ parent() }}
    <div id="main" class="commonMain">
      <div class="layui-main">
        <div class="newsBreadcrumb">
          <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a href="{{ path('app_news') }}">资讯中心</a>
            <a><cite>{{ detail['title'] }}</cite></a>
          </span>
        </div>
      </div>
      <div class="layui-main newsdetail">
        <div class="layui-row layui-col-space20">
          <div class="layui-col-md9">
            <div class="header">
              <div class="title">{{ detail['title'] }}</div>
              <div class="headerBody">
                <span class="timer"><i class="layui-icon layui-icon-time"></i> <span class="moment" data-time="{{ detail['createdAtTime'] }}"></span></span>
                <span class="viewnum"><i class="mdi mdi-eye"></i> {{ detail['viewNumber'] }}</span>
              </div>
            </div>

            <div class="layui-card">
              <div class="layui-card-body newsBody">
                {{ detail['main']['content']|raw }}
              </div>
            </div>
          </div>
          <div class="layui-col-md3">
            <div class="layui-card">
              <div class="layui-card-header">热门推荐</div>
              <div class="layui-card-body">
                <ul class="tabnews">
                  {% if hotNews %}
                    {% for hv in hotNews  %}
                      <li class="layui-elip">
                        <a href="#" target="_blank" title="{{ hv['title'] }}">{{ hv['title'] }}</a>
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}

{% block body_javascript %}
  {{ parent() }}
  <script>
    $(function () {

    });

  </script>
{% endblock %}
