{% extends '@WebsiteBundle/layout/baseblank.html.twig' %}
 {% block content %}
     {{ parent() }}
    <div id="main" class="commonMain">
      <div class="layui-main" style="margin-top: 10px;margin-bottom:40px;">
      <div class="layui-card" style="padding-bottom:30px;margin-top: 30px;">
            <div class="layui-card-header">答题结果如下:</div>
                <div class="layui-card-body" style="padding: 20px!important;">
                    <div class="cell">总得分:{{ info['score'] }}分</div>
                    <div class="cell">总题数:{{ info['errorNum']+info['rightNum']+info['undoNum'] }}</div>
                    <div class="cell">未做题数:{{ info['undoNum'] }}</div>
                    <div class="cell">错题数:{{ info['errorNum'] }}</div>
                    <div><a style="margin-top: 10px;" type="button" class="layui-btn layui-btn-sm layui-btn-normal " href="{{ path('qa_mytest') }}">返回我的试卷</a></div>
                </div>
           </div>
      </div>
    </div>
  </div>
 {% endblock %}
