{% extends '@CoreBundle/layout/base.html.twig' %}

{% block page_title %}登录{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/base/plugins/layer/layer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/v4-shims.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/iconfont/iconfont.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/overlayScrollbars/css/OverlayScrollbars.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/admlte/css/adminlte.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/admlte/googlefonts/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/glyphicons/css/glyphicons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/icheck-bootstrap/icheck-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap-fileinput/css/fileinput.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/admin.css') }}">
{% endblock %}

{% block head_custom_stylesheets %}
<style>
    html,body{
        background-image: url("/assets/images/loginbg.jpg") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 100% !important;
    }
    .login-logo a, .register-logo a{
        color: #fff!important;
    }
</style>
{% endblock %}

{% block head_favicon %}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon.ico') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/base/jquery.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/utils.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/plugins/jquery-form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/plugins/jquery-cookie/jquerycookie.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/plugins/layer/layer.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/plugins/underscore/underscore-min.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/modules/include.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/modules/ajaxform.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/modules/ajaxaction.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/modules/captcha.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/modules/widgets.js') }}"></script>
    <script src="{{ asset('assets/plugins/base/base.js') }}"></script>

    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/plugins/admlte/js/adminlte.js') }}"></script>
    <script src="{{ asset('assets/plugins/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/js/i18n/zh-CN.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-switch/js/bootstrap-switch.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-fileinput/js/fileinput.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-fileinput/js/locales/zh.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-fileinput/js/plugins/piexif.js') }}"></script>
    <script src="{{ asset('assets/plugins/clipboardjs/clipboard.js') }}"></script>

    <script type="text/javascript">
        $(function(){
            $(".recaptcha").captcha();
        });
    </script>
    {% if error %}
        <script type="text/javascript">
            $(function() {
                layer.msg('{{ error.messageKey|trans(error.messageData, 'security') }}', {
                    time: 2500, //2s后自动关闭
                    icon: 7,
                    offset: '100px', //右下角弹出
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block body_class %} hold-transition login-page {% endblock %}

{% block body_main %}
    <div class="login-box">
        <div class="login-logo">
            <a href="./"><b>{{ option("app.name") }}</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">登录即可进入后台管理系统</p>

                <form action="{{ path("admin_login") }}" method="post">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="input-group mb-3">
                        <input type="text" name="mobile" class="form-control" placeholder="手机号码" value="{{ last_username }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-6 input-group mb-3">
                        <input type="text" name="recaptcha" class="form-control" placeholder="验证码">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="{{ path('app_glob_recaptcha', {'type':'adminLogin'} ) }}" class="recaptcha" style="height: 48px;">
                    </div>
                </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="密码">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" name="_remember_me" checked>
                                <label for="remember">
                                    7天内免登陆
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">登入</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}
{% block body_custom_javascript %}
<script>
    $(function(){
      $("input[name='mobile']").keyup(function(){
          var mobile = $(this).val();
          $.cookie("last_username", mobile);
      });
    });
</script>
{% endblock %}
