{% extends "@CoreBundle/layout/pop.html.twig" %}

{% block page_title %}菜单添加{% endblock %}


{% block body_custom_javascript %}
    <script>
        $(function(){

            $('.select2').select2({"size":"mini","allowClear":true});

    var font_element = $('#icon').fontIconPicker({
        theme: 'fip-bootstrap'
    });
    
    $.ajax({
        url: '/bundles/eduxpluscore/js/fontIconPicker/fontjson/materialdesignicons_v4.json',
        type: 'GET',
        dataType: 'json'
    }).done(function(response) {
 
        var fontello_json_icons = [];
 
        $.each(response.glyphs, function(i, v) {
            fontello_json_icons.push( v.css );
        });
 
        font_element.setIcons(fontello_json_icons);
    }).fail(function() {
        console.error('字体图标配置加载失败');
    });

        });

    </script>
{% endblock %}

{% block page %}
<div class="card">
     <div class="card-body"> 
    <div class="row">
            <div class="col-md-12">
            <div class="card card-default">
                <form method="POST" action="{{ path('admin_api_menu_add') }}" class="form-horizontal ajaxform" accept-charset="UTF-8" >
                    <div class="card-body" style="display: block;">
                            <div class="form-group row">
                                <label class="col-sm-2 require col-form-label">父级菜单</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm select2" style="width: 100%;" name="parent_id" data-value="" >
                                        <option value="0">/</option>
                                        {% if menuSelect %}
                                            {% for menus in menuSelect %}
                                        <option value="{{ menus.id }}">{{ menus.name|raw }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group  row">
                                <label for="title" class="col-sm-2  require col-form-label">标题</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="mdi mdi-file-document-edit fa-fw"></i></span>
                                        </div>
                                        <input type="text" id="title" name="title" data-required="1" value="" class="form-control form-control-sm title" placeholder="输入标题" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label for="sort" class="col-sm-2  require col-form-label">排序</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="mdi mdi-sort-descending"></i></span>
                                        </div>
                                        <input type="text" id="sort" name="sort" data-required="1" value="0" class="form-control form-control-sm" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="icon" class="col-sm-2 control-label">图标</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input style="width: 140px" type="text" id="icon" name="icon" value=""
                                               class="form-control form-control-sm icon"
                                               placeholder="输入图标"
                                        >
                                    </div>
                                    <span class="help-block">
                                        <i class="mdi mdi-information"></i>
                                        &nbsp;更多图标请查看 <a href="https://materialdesignicons.com/" target="_blank">https://materialdesignicons.com/</a>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 require col-form-label">路径</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm select2" style="width: 100%;" name="uri" data-value="" >
                                        {% if adminRoute %}
                                            {% for r in adminRoute %}
                                        <option value="{{ r }}">{{ r }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">显示到导航</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="isShow" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">锁定</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="isLock" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">仅权限</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="isAccess" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">描述</label>
                            <div class="col-sm-8">
                                <textarea class="form-control form-control-sm" name="descr" rows="3" placeholder="输入 ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-sm btn-info"><i class="mdi mdi-arrow-up"></i> 提交</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

  </div>
    </div>

{% endblock %}

